.style-none() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text() {
  font-family: @heebo;
  font-weight: @main-weight;
  font-size: @main-font-size;
  line-height: @main-line-height;
  color: @night-blue;
}

.title() {
  font-family: @heebo;
  font-weight: @bold-weight;
  color: @night-blue;
}